@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin : 0;
    padding: 0;
    box-sizing: border-box ;
    font-family : 'poppoins', sans - serif; 
}

body{
    width : 100%;
    height: 120vh;
    display : flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,#0a0a0a,#074950);
}

.calculator{
    border : 1px solid #3a2323;
    padding : 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(15, 140, 117, 0.5);
    
}

input{
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgbs(84, 84 ,84 0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #ffffff;
    
} 

input::placeholder
{
   color : #ffffff;
}
button
{
    cursor: pointer;
    border: none;
    width: 60px;
    height: 60px;
    margin: 9px;
    border-radius:50% ;
    background: transparent;
    color: #ffff;
    font-size: 20px ;
    box-shadow:-8px -8px 15px rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.equalBtn{
    background-color: rgb(230, 140, 30);
}

.operator
{
    color: #e84441;
}